#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8185ce;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(189, 191, 242);
  color: #696fc7;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: #5056a4;
  color: rgb(211, 213, 255);
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #2a2e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button:hover {
  background-color: #898fef;
}

button:active {
  background-color: #a8aefd;
}

.operator-btn {
  color: #5056a4;
  background-color: #b0b5f9;
}

.operator-btn:hover {
  background-color: #babffc;
}

.operator-btn:active {
  background-color: #d4d7ff;
}
